# Python 3.10
# install from https://pytorch.org/get-started/locally/
torch
torchvision
librosa
matplotlib
opencv_python
resampy
tqdm
pytube
pymusickit
pysndfx
pychorus

# ffmpeg must also be added using "conda install ffmpeg"
